out
dist
node_modules
.vscode-test/
*.vsix
*ipynb*
*venv*
dev-utils/volumes/opt/clearml/agent
dev-utils/volumes/opt/clearml/data
dev-utils/volumes/opt/clearml/logs
dev-utils/volumes/opt/clearml/config/generated_credentials.env
dev-utils/volumes/opt/clearml/config/clearml.conf
dev-utils/volumes/usr