out
dist
node_modules
.vscode-test/
*.vsix
*ipynb*
*venv*
volumes/opt/clearml/agent
volumes/opt/clearml/data
volumes/opt/clearml/logs
volumes/opt/clearml/config/generated_credentials.env
volumes/opt/clearml/config/clearml.conf
volumes/usr